@font-face {
    font-family:DolceVita;
    src: url(../media/DolceVita.ttf);
 }

h1{
    float: left;
    padding-left: 77px;
    color: white;
    font-family: DolceVita;
    font-size: 42px;
    margin-top: 17px;
}

a{
    text-decoration:none;
    color:white;
}

section{
    float:right;
    height:80px;
    color:white;
    font-family:Calibri;
    font-size:24px;
    padding: 25px 30px 15px 10px;
}


.clearfix{
  content: "";
  display: table;
  clear: both;
}

.header{
    background-image: linear-gradient(to right,  rgb(233, 17, 233),rgb(71, 14, 69));
    width:100%;
    height:80px;
}
.menu{
    position:absolute;
    right:0px;
}

.subject{
    position: relative;
    background-color: rgb(240, 240, 240);
    width: 75%;
    height: 500px;
    margin: 0 auto;
    margin-top: 5%;
    border-radius: 50px 15px;
    margin-bottom:50px;
}

.vl {
    float: right;
    border-left: 2px solid white;
    height: 80px;
    padding-right: 15px;
}
#current{
    text-decoration:underline;
}

